<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SIFTBackendBaseURL</key>
	<string>https://sift-backend-ai-sdk-staging.sift-cloudflare-worker-tools.workers.dev</string>
</dict>
</plist>
